<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Stimulsoft.Reports.Engine" version="2021.4.3" targetFramework="net452" />
  <package id="Stimulsoft.Reports.Web" version="2021.4.3" targetFramework="net452" />
  <package id="Stimulsoft.Svg" version="2021.4.3" targetFramework="net452" />
</packages>