html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #e8e8e8;
  overflow: hidden;
}

div.table-side {
  width: 10px;
  height: 2px;
}

a.link {
  color: Blue;
  font-family: Verdana;
  font-size: 11px;
}

