<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Stimulsoft.LibExcel" version="2022.4.1" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Engine" version="2024.3.3" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Web" version="2024.3.3" targetFramework="net472" />
  <package id="Stimulsoft.Svg" version="2024.3.3" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="Wisej" version="1.5.58" targetFramework="net472" />
  <package id="Wisej-AspNetControl" version="1.5.58" targetFramework="net472" />
</packages>