<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Stimulsoft.Reports.Engine" version="2023.1.5" targetFramework="net452" />
  <package id="Stimulsoft.Reports.Web" version="2023.1.5" targetFramework="net452" />
  <package id="Stimulsoft.Svg" version="2023.1.1" targetFramework="net452" />
  <package id="Stimulsoft.LibExcel" version="2022.4.1" targetFramework="net452" />
</packages>